<!DOCTYPE html>
<html lang="en">

    <%- include("sections/head") %>

    <body>
        <%- include("components/spinner") %>

        <%- include("components/topBar") %>

        <%- include("components/navbar") %>

        <%- include("components/header", {title: "Our Blog"}) %>

        <!-- Blog Start -->
        <div class="container-fluid blog py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Our Blog</h5>
                    <h1 class="mb-4">Popular Travel Blogs</h1>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti deserunt tenetur sapiente atque. Magni non explicabo beatae sit, vel reiciendis consectetur numquam id similique sunt error obcaecati ducimus officia maiores.
                    </p>
                </div>
                <div class="row g-4 justify-content-center">
                    <% blogs.forEach((item, i) => { %>
                        <div class="col-lg-4 col-md-6">
                            <%- include("components/blogCard", {title: item.title, description: item.description, date: item.date, postedBy: item.postedBy, likesCount: item.likesCount, commentsCount: item.commentsCount, imageSrc: item.imageSrc}) %>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <!-- Blog End -->

        <%- include("sections/subscribe") %>

        <%- include("components/footer") %>
        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>

</html>